{% extends "user/base.html" %}

{%block head%}
    <style>
    p{
        font-size:25px;
    }
    a{
        font-size:25px;

    }
    </style>
{% endblock head %}

{% block content %}
    <div style="margin:10% 20%;" class="container">
    {% if user.is_authenticated %}
        <h4>Welcome {{user.username}}</h4>
        <a href="{% url 'logout' %}">Logout</a>
    {%else%}
        <p>You are not logged in.. <br>please <a href="{% url 'login'%}">log in</a></p>
    {%endif%}
    </div>
{% endblock content %}