{% extends "user/base.html" %}
{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block head %}
        <link rel="stylesheet" href="{% static 'css/login.css'%}"></link>
        <style>
            #login{
                margin-top:50px;
            }
            #btn{
                margin-top:20px;
            }
            #noaccount{
                margin-top:10px;
                font-size:25px;
            }
               #msghere{
      background-color: rgb(214, 236, 229);
      color:black;
      width: auto;
      margin: 25px;
      font-size: large;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      padding: 10px 30px;
      border:"5px solid black";
      position: relative;
    }

            
        </style>
{% endblock head %}


{% block content %}

       <nav class="blue lighten-2">
    <div class="nav-wrapper container">
      <a href="{% url 'home' %}" class="brand-logo">Quizz Portal</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" href="{% url 'register' %}">Sign Up</a></li>
        <li><a class="waves-effect waves-light btn" href="{% url 'login' %}">Log In</a></li>
        </ul>
    </div>
  </nav>
  

  {%if messages%}
    <div id="msghere"  class="container">
       
            {%for msg in messages%}
                {{msg}}
            {%endfor%}
        
    </div>
    {%endif%}


<center>
    <div id="login" class="container " style="max-width:500px">
        <form method="POST" action="#">
            {% csrf_token %}
            <h4 style="text-align:center;">Log In</h4>

            <div class="form-group">
                

                {{form.as_p }}

            <div style="text-align:center;" >
                <button id="btn" class="btn btn-outline-info m-3" type="submit">Log in</button>
            </div> 
            </form>

            <div id="noaccount" >
                <small class="text-muted">
                Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                </small>
            </div>
        </div>
    </div>
    </center>


{% endblock content %}