
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <style>
        .full-width {
    height: 100%;
    min-height: 1000px !important;
}
    </style>
    </head>

    <body>

      
      
  <nav class="blue lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Quizz Portal</a>
      
    </div>
  </nav>

     <div class="row">
         <div style="min-height: 100vh;" class="col s8 m8 l8 full-width pink">
               <p>Hello</p> 
         </div>
         <div style="min-height: 100vh;" class="col s4 full-width yellow">
                <p>bye</p>
         </div>
     </div> 
      
      
    </body>
  </html>