{% extends "user/base.html" %}

{%block head%}
  <style>

  </style>
  <script>
  </script>
{%endblock%}
{% block content %}

       <nav class="blue lighten-2">
    <div class="nav-wrapper container">
      <a href="{% url 'home' %}" class="brand-logo">Quizz Portal</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" href="{% url 'home' %}">Home</a></li>
        <li><a class="waves-effect waves-light btn" href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </div>
  </nav>
  
    
  
  <div name="otp" class="container" width="50%">
  {% if form %}
      {{form.as_p}}
  {% else %}
      No form
  {% endif %}
  </div>



{% endblock content %}